<% if user_signed_in? %>
  <div class="page-body">
    <div class="container">
      <div class="row">
        <div class="col-md-4 dashboard">
          <div class="profile-contents">
            <div class="profile-user-info">
              <%= render 'shared/user_info' %>
            </div>
            <div class="profile-stats">
              <%= render 'shared/stats'%>
            </div>
          </div>
          <div class="following">
            <%= render 'shared/following' %>
          </div>
          <div class="followers">
            <%= render 'shared/followers'%>
          </div>
        </div>
        <div class="col-md-8 feed">
          <%= render 'shared/feed' %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="page-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="top-message">
            <h1>InstaClone</h1>
            <p>世界中の人と写真をシェアしよう</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="signup-block">
            <%= link_to "メールアドレスで登録", new_user_registration_path, class: "btn btn-link" %>
            <p>or</p>
            <%= link_to "Facebookアカウントで登録", user_facebook_omniauth_authorize_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>