<% provide(:title, "編集")%>

<div class="edit-form">
  <h2>登録情報の変更</h2>
  <%= form_for(resource, class: "form-group", as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <label class="col-md-3 col-form-label">名前</label>
    <div class="field col-md-9">
      <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name", placeholder: "名前", class: "form-control" %>
    </div>

    <label class="col-md-3 col-form-label">ユーザー名</label>
    <div class="field col-md-9">
      <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", placeholder: "ユーザー名", class: "form-control" %>
    </div>

    <label class="col-md-3 col-form-label">性別</label>
    <div class="form-check col-md-9">
      <label class="form-check-label">
        <%= f.radio_button :gender, 0 %>男性
      </label>
      <label class="form-check-label">
        <%= f.radio_button :gender, 1 %>女性
      </label>
    </div>

    <label class="col-md-3 col-form-label">メールアドレス</label>
    <div class="field col-md-9">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
    </div>

    <label class="col-md-3 col-form-label">自己紹介</label>
    <div class="field col-md-9">
      <%= f.text_area :self_introduction, autofocus: true, autocomplete: "self_introduction", placeholder: "自己紹介", class: "form-control" %>
    </div>

    <label class="col-md-3 col-form-label">webサイト</label>
    <div class="field col-md-9">
      <%= f.text_field :website, autofocus: true, autocomplete: "website", placeholder: "ウェブサイト", class: "form-control" %>
    </div>

    <label class="col-md-3 col-form-label">Tel</label>
    <div class="field col-md-9">
      <%= f.text_field :tel, autofocus: true, autocomplete: "tel", placeholder: "電話番号", class: "form-control" %>
    </div>

    <label class="col-md-3 col-form-label">現在のパスワード</label>
    <div class="field col-md-9">
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワード(※必須項目)", class: "form-control" %>
    </div>

    <label class="col-md-3 col-form-label">新しいパスワード</label>
    <div class="field col-md-9">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "新しいパスワード", class: "form-control" %>
    </div>

    <div class="update-actions">
      <%= f.submit "登録する", class:"btn btn-primary" %>
    </div>
  <% end %>

  <div class="destroy-action">
    <%= button_to "退会する", registration_path(resource_name), class: "btn btn-outline-danger", data: { confirm: "本当に退会しますか？" }, method: :delete %>
  </div>

  <%= link_to "戻る", :back %>
</div>