<% provide(:title, @user.user_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.gravatar_url %>
        <%= @user.user_name %>
        <%= @user.email %>
      </h1>
      <%= link_to "#{@user.following.count}フォロー", following_user_path(@user) %>
      <%= link_to "#{@user.followers.count}フォロワー", followers_user_path(@user) %>
      <% unless @user == current_user %>
        <% if current_user.following?(@user) %>
          <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
            html: { method: :delete }) do |f| %>
            <%= f.submit "フォローを外す", class: "btn" %>
          <% end %>
        <% else %>
          <%= form_for(current_user.active_relationships.build) do |f| %>
            <div><%= hidden_field_tag :followed_id, @user.id %></div>
            <%= f.submit "フォローする", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
      <%# あとでメソッド化してリファクタリング %>
      <% if @user == current_user %>
        <%= link_to "編集", edit_user_registration_path %>
      <% end %>
      <% @posts.each do |post| %>
        <%= link_to post.title, post_path(post) %>
        <div class="bxslider">
          <% post.pictures.each do |picture| %>
            <%= image_tag picture.thumb.url %>
          <% end %>
        </div>
        <%= post.content %>
      <% end %>
    </section>
  </aside>
</div>