<% provide(:title, "マイページ") %>
<div class="row">
  <div class="col-md-2">
    <%= render 'shared/dashboard' %>
    <%= render 'shared/follow_form' %>
    <% if @user == current_user %>
      <%= link_to "編集", edit_user_registration_path %>
    <% end %>
  </div>
  <div class="posts col-md-10 col-md-offset-4">
    <% @posts.each do |post| %>
      <div class="slider">
        <%= link_to post.title, post_path(post) %>
        <div class="bxslider-mini">
          <% post.pictures.each do |picture| %>
            <%= image_tag picture.thumb.url %>
          <% end %>
        </div>
        <%= post.content %>
        <div class="like-form">
          <% if like = Like.find_by(user_id: current_user.id, post_id: post.id) %>
            <%= link_to like, method: :delete do %>
              <span class="fas fa-heart like-btn-unlike">お気に入り済み</span>
            <% end %>
          <% else %>
            <%= form_for(@like, url: likes_path) do |f| %>
              <%= f.label :like %>
              <%= hidden_field_tag 'like[post_id]', post.id %>
              <%= button_tag(class: "btn") do %>
                <%= content_tag :span, "お気に入りに入れる", class: "fas fa-heart like-btn-unlike"%>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="comment-form">
          <%= form_for(@comment, url: comments_path) do |f| %>
            <%= f.label :comment, "コメント" %>
            <%= f.text_area :content, class: "form-control", placeholder: "コメントを入力する" %>
            <%= hidden_field_tag 'comment[post_id]', post.id %>

            <%= f.submit "投稿", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>