<header class="navbar navbar-fixed-top bg-dark">
  <div class="container">
    <%= link_to "InstaClone", root_path, id: "logo", data: { "turbolinks" => false } %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= "#{current_user.full_name}さん" %><b class="caret"></b>
            </a>
            <div class="dropdown-menu">
              <%= link_to "マイページ", current_user, class: "dropdown-item", data: { "turbolinks" => false } %>
              <%= link_to "プロフィール編集", edit_user_registration_path(current_user), class: "dropdown-item" %>
              <%= link_to "ログアウト", logout_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= "#{unread_count}件の通知" %><b class="caret"></b>
            </a>
            <div class="dropdown-menu">
              <%= link_to "通知一覧", notifications_path, class: "dropdown-item", data: { "turbolinks" => false } %>
              <%= link_to "既読にする", readed_path, method: :patch, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li><%= link_to "投稿を見てみる", "#" %></li>
          <li><%= link_to "ユーザーを見てみる", "#" %></li>
          <li><%= link_to "ログイン", login_path %></li>
          <li><%= link_to "新規登録", signup_path %></li>
        <% end %>
      </ul>
    </nav>
    <form class="form-inline my-2 my-lg-0">
      <%= form_tag root_path method: :get, class: "form-group" do %>
        <%= text_field_tag :serch %>
        <%= submit_tag "検索", class: "btn btn-outline-info" %>
      <% end %>
    </form>
  </div>
</header>
