<header class="navbar navbar-fixed-top bg-dark">
  <div class="container">
    <%= link_to "InstaClone", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %><b class="caret"></b>
            </a>
            <div class="dropdown-menu">
              <%= link_to "マイページ", current_user, class: "dropdown-item", data: { "turbolinks" => false } %>
              <%= link_to "プロフィール編集", "#", class: "dropdown-item" %>
              <%= link_to "ログアウト", logout_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <li><%= link_to "通知", "#" %></li>
        <% else %>
          <li><%= link_to "投稿一覧", "#" %></li>
          <li><%= link_to "ログイン", login_path %></li>
          <li><%= link_to "新規登録", signup_path %></li>
        <% end %>
      </ul>
    </nav>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="serch" placeholder="検索" aria-label="serch">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">検索</button>
    </form>
  </div>
</header>
