<li id="post-<%= post.id %>">
  <%= link_to image_tag(post.user.gravatar_url(:size => 50)), post %>
  <span class="user"><%= link_to post.user.user_name, post.user %></span>
  <%= link_to post.title, post_path(post) %>
  <div class="bxslider">
    <% post.pictures.each do |picture| %>
      <%= image_tag picture.thumb.url %>
    <% end %>
  </div>
  <span class="content"><%= post.content %></span>
  <span class="timestamp"><%= "#{time_ago_in_words(post.created_at)}å‰" %></span>
</li>