<% provide(:title, @user.user_name) %>

<div class="row">
  <div class="col-md-2 dashboard">
    <%= render 'shared/dashboard' %>
  </div>
  <div class="col-md-10">
    <div class="bxslider-big">
      <% @post.pictures.each do |picture| %>
        <%= image_tag picture.url %>
      <% end %>
    </div>
    <div class="like-form">
      <%= render 'shared/like_form', { post: @post, like: @like } %>
    </div>
    <div class="comment-form">
      <%= render 'shared/comment_form', { post: @post, comment: @comment } %>
    </div>
    <div class="comment-area">
      <%= render 'shared/comment_area', { comments: @comments } %>
    </div>
  </div>
</div>
