<% provide(:title, @user.user_name) %>

<div class="row">
  <div class="col-md-2 dashboard">
    <%= render 'shared/dashboard' %>
  </div>
  <div class="col-md-10">
    <div class="bxslider-big">
      <% @post.pictures.each do |picture| %>
        <%= image_tag picture.url %>
      <% end %>
    </div>
    <div class="like-form">
      <%= render 'shared/like_form', { post: @post, like: @like } %>
    </div>
    <div class="comment-form">
      <%= render 'shared/comment_form', { post: @post, comment: @comment } %>
    </div>
    <div>
      <% @comments.each do |comment| %>
        <%= comment.content %>
        <%= link_to "削除", comment, method: :delete %>
      <% end %>
    </div>
  </div>
</div>
